section.swell-hero {
  background: url("/assets/hero.jpg") no-repeat;
}

section.swell-hero-info {
  background-color: rgba(255,255,255,0.5);
}

div.swell-relief-partner-image {
  text-align: -webkit-center;
}

figure.swell-custom-figure {
  height: 3rem !important;
}

h2.swell-hero-info-content{
  line-height: 1.3;
}